/* frontend/src/pages/Intake/Intake.css */
.intake-page {
    background-color: #f8f9fa;
    min-height: 100vh;
  }
  
  h3 {
    margin-top: 2rem;
    color: #343a40;
  }
  
  .form-control, .form-select {
    background-color: #fff;
    border: 1px solid #999ca0;
    font-size: small;
  }

  .form-select {
    color: #999ca0 !important;  /* Gray text */
    background-color: #fff !important;
    border: 1px solid #999ca0 !important;
    font-size: small !important;
}

/* When a valid state is selected, override gray */
.form-select:not([value=""]) {
    color: #343a40 !important;
}

  
.form-check-input[type="radio"] {
  border: 1px solid #808080 !important;  /* Dark gray */
  width: 18px;  /* Optional: Adjust size */
  height: 18px;
}
  .form-control.is-invalid {
    border-color: #dc3545;
  }


  .header {
    margin-top: 1.5rem;
  }
  
  .p {
    color: #343a40;
    text-transform: uppercase;
    font-weight: 600;
  }

  .note, .span {
    color: #6c757d;
    font-size: 14px;
  } 

  /* Darken the checkbox border */
input[name="platformConsent"] {
    border: 1px solid #999ca0 !important; /* Darker border */
    cursor: pointer;
  }
  
  .btn {
    background-color: #ff01dd;
    color: #fefdfd;
    border: 3px solid #bc02a3;
    font-size: 14px;
    margin-bottom: 2rem;
    box-shadow:  1px 1px 3px rgba(23, 21, 21, 0.8);   
  }

.checkbox label {
  font-size: 12px;
}
/**
.custom-pagination .page-link {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.custom-pagination .page-item.active .page-link {
  background-color: #0056b3;
  border-color: #0056b3;
}
*/