/* frontend/src/components/Navbar.css */
.navbar {
    padding: 0.5rem 1rem;
  }
  
  .auth-dropdown .dropdown-menu,
  .user-dropdown .dropdown-menu {
    background-color: #343a40;
    border: none;
    min-width: 200px; /* Wider for more items */
    display: none; /* Hide by default */
  }

  .dropdown-item {
    margin-bottom: 10px;
  }
  
  .auth-dropdown .dropdown-item,
  .user-dropdown .dropdown-item {
    color: #fff;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
  
  .auth-dropdown .dropdown-item:hover,
  .auth-dropdown .dropdown-item:focus,
  .user-dropdown .dropdown-item:hover,
  .user-dropdown .dropdown-item:focus {
    background-color: #495057;
    color: #fff;
  }
  
  .user-dropdown .dropdown-divider {
    border-top: 1px solid #495057; /* Subtle divider before Logout */
  }